/*============================= NAVBAR=====================*/

#gtco-header,
  #gtco-counter,
  .gtco-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .gtco-bg {
    background-position: center center;
    width: 100%;
    float: left;
    position: relative;
  }
  
  .gtco-cover {
    margin-top: 60px;
    height: 500px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
  }

  .gtco-cover .overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  .gtco-cover > .gtco-container {
    position: relative;
    z-index: 10;
  }

  @media screen and (max-width: 768px) {
    .gtco-cover {
      margin-top: auto;
      height: 300px;
      width: 100%;
    }
  }

/*=========================== IMG RESPONSIVE ================*/

.img-responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

header{
    background-repeat: no-repeat;
}

/*============================ WHO WE ARE ===================*/

#who-we-are{
    clear: both;        /*to separate the divs*/
}

.who{
    margin-top: 15px;
    margin-bottom: 15px;
}

.rad{
    border-radius: 5%;
}

.who-color-row{
    background-color: gainsboro;
}

.who-color-row:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;
}

.down-img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

@media screen and (max-width:768px){
	.down-img{
		height: 400px !important;
		background-position: center;
	}
    .motto h2.img-down{
        font-size: 30px !important;
    }
}
@media screen and (max-width:400px){
	.down-img{
		height: 300px !important;
		background-position: center;
	}
    .motto h2.img-down{
        font-size: 25px !important;
    }
}

.motto h2.img-down{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color:white;
    font-size: 40px;
    font-style: italic;
    border-style: solid;
    border-width: 3px;
    font-family: "Times New Roman";
    white-space: nowrap;
}

h1.who-title{
    text-align: center;
    color: black;
    padding: 20px 0 20px 0;
}


.who-cover {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 800px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
  }

  .who-cover .overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  .who-cover > .container {
    position: relative;
    z-index: 10;
  }

@media only screen and (max-width: 991px) {
    .fadeshow1 {
        display: none;
    }
}

/*================================= CONTACT US ============================================*/

#contact-us{
    clear: both;        /*to separate the divs*/
}

.description-ask{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contactsUs{
    line-height: 0.8;
    text-align: center;
}


.contacts-top{
    padding-top: 10px;
}

.contacts-top:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;
    background-color: #f2f2f2;
}

/*============================= FORM =============*/

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: darkgrey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
