@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

@font-face{
	font-family: 'Finger Paint', cursive;
	src: url('https://fonts.googleapis.com/css?family=Finger+Paint');
}
  /* =======================================================
  *
  * 	Template Style 
  *
  * ======================================================= */
  body {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
  }
  
  #page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .offcanvas #page {
    overflow: hidden;
    position: absolute;
  }
  .offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }
  
  a {
    color: #52d3aa;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:active, a:focus {
    color: #52d3aa;
    outline: none;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 20px;
  }

#subtitle{
	font-size: 40px;
}

  h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
  
  ::-webkit-selection {
    color: #fff;
    background: #52d3aa;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #52d3aa;
  }
  
  ::selection {
    color: #fff;
    background: #52d3aa;
  }
  
  .gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .gtco-nav {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 1001;
  }
/*********************************************
****			 NAVBAR INVERTED ON SCROLL      ****
**********************************************/
.transparent {
	background-color:rgba(0,0,0,0.6);
	transition: 0.5s;
}
.text-white{
	color: white !important;
	transition: 0.5;
}
.invert-box {
  -webkit-box-shadow: 0px 14px 33px -9px rgba(255, 255, 255, 0.75) !important;
  -moz-box-shadow: 0px 14px 33px -9px rgba(255, 255, 255, 0.75) !important;
  box-shadow: 0px 14px 33px -9px rgba(255, 255, 255, 0.75)!important;
  background: rgba(0,0,0,0.8) !important;
	}
.primary-effect:hover {
    color: rgba(144,144,144) !important;
		border-bottom-color: rgba(255,255,255,0.6) !important;
  }
.secondary-effect:hover .nav-label, .secundary-effect:focus .nav-label {
		color: rgba(144,144,144) !important;
  }
.white-pointer:before{
	border-bottom-color: rgba(255,255,255,0.6) !important;
}
/************************************************/

  @media screen and (max-width: 768px) {
    .gtco-nav {
      background-color: rgba(0, 0, 0, 0.3);
			padding: 15px 0;
    }
		i{
			color: white;
		}
	}
  .gtco-nav #gtco-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .gtco-nav a {
    padding: 5px 10px;
    color: black;
  }
  @media screen and (max-width: 768px) {
    .gtco-nav .menu-1, .gtco-nav .menu-2, .gtco-nav .aboutus {
      display: none;
    }
  }
  .gtco-nav ul {
    padding: 0;
    margin: 2px 0 0 0;
  }
  .gtco-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
  }

/*modified navbar color <a> div*/
  .gtco-nav ul li a {
    font-size: 14px;
    padding: 30px 10px;
    text-transform: uppercase;
    color: rgb(14, 0, 0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .gtco-nav ul li a:hover, .gtco-nav ul li a:focus, .gtco-nav ul li a:active {
    color: rgba(144,144,144);
  }
  .gtco-nav ul li.has-dropdown {
    position: relative;
  }
  .gtco-nav ul li.has-dropdown .dropdown {
    width: 130px;
    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
  .gtco-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: rgba(0,0,0,0.6);
    border-width: 8px;
    margin-left: -8px;
  }
  .gtco-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px;
  }
  .gtco-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
  }
  .gtco-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: black;
    line-height: 1.2;
    text-transform: none;
    font-size: 15px;
  }
  .gtco-nav ul li.has-dropdown .dropdown li a:hover {
    color: rgba(144,144,144);
  }
  .gtco-nav ul li.has-dropdown:hover a, .gtco-nav ul li.has-dropdown:focus a {
		color: rgba(144,144,144);
  }
   .gtco-nav ul li.btn-cta a span {
    background: #fff;
    padding: 4px 20px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
  }
  .gtco-nav ul li.btn-cta a:hover span {
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  }
  .gtco-nav ul li.active > a {
    color: black;
  }
  
/* =======================================================
  *
  * 	Page Content Template Style 
  *
  * ======================================================= */
 
/*********************************************/
/****************   FOOTER   *****************/
/*********************************************/
	
	#gtco-footer{
		padding: 2em 0 ;
		clear: both;
	 	background: #dadada;
	}		
	#gtco-footer .logo{
		margin-top: 10px;
	}
	#gtco-footer h4{
		margin-top: 20px;
	}
	
	#gtco-footer .social-icons2{
		display: none;
	}
	#gtco-footer .gtco-social-icons{
		margin-top: 30px;
		padding: 0;
	}
	.gtco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1.3;
  display: inline;
	}
	.gtco-social-icons li a {
		display: -moz-inline-stack;
		display: inline-block;
  	display: inline;
		padding-left: 10px;
  	padding-right: 10px;
	}
	.gtco-social-icons li a i {
  	font-size: 20px;
	}

	@media screen and (max-width:768px){
		#gtco-footer .logo {
			 margin-top: 10px;
		}
		#gtco-footer .social-icons1{
			display: none;
		}
		#gtco-footer .social-icons2{
			display: contents;
		}
	
	}	

	#gtco-footer #aboutus{
		white-space: nowrap;
	}
  #gtco-footer .gtco-footer-links {
    padding: 0;
    margin: 0;
  }
  #gtco-footer .gtco-footer-links li {
    list-style: none;
		line-height: 25px;
  }
  #gtco-footer .gtco-footer-links li a {
    color: black;
    text-decoration: none;
  }
  #gtco-footer .gtco-footer-links li a:hover {
    text-decoration: underline;
		color: #52d3aa;
		transition: 0.3;
  }
	@media screen and (max-width:768px){
		#gtco-footer .aboutus-menu{
			display: inline;
						
		}
	}

  #gtco-footer .copyright {
		padding-top: 30px;
		display: block;
  }


/***********************************************************/
/***********************************************************/

  #gtco-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: black;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 45px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .offcanvas #gtco-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  #gtco-offcanvas a {
    color: rgba(255, 255, 255, 0.5);
  }
  #gtco-offcanvas a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #gtco-offcanvas ul {
    padding: 0;
    margin: 0;
  }
  #gtco-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  #gtco-offcanvas ul li > ul {
    padding-left: 20px;
    display: none;
  }
  #gtco-offcanvas ul li.offcanvas-has-dropdown > a {
    display: block;
    position: relative;
  }
  #gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
    position: absolute;
    right: 0px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e921";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  
  .uppercase {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }
    
  .gtco-nav-toggle {
    width: 25px;
    height: 25px;
		cursor: pointer;
    text-decoration: none;
  }
  .gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after {
    background: #444;
  }
  .gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
  }
  .gtco-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    transition: all .2s ease-out;
  }
  .gtco-nav-toggle i::before, .gtco-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
  }
  .gtco-nav-toggle.gtco-nav-white > i {
    color: #fff;
    background: #fff;
  }
  .gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after {
    background: #fff;
  }
  
  .gtco-nav-toggle i::before {
    top: -7px;
  }
  
  .gtco-nav-toggle i::after {
    bottom: -7px;
  }
  
  .gtco-nav-toggle:hover i::before {
    top: -10px;
  }
  
  .gtco-nav-toggle:hover i::after {
    bottom: -10px;
  }
  
  .gtco-nav-toggle.active i {
    background: transparent;
  }
  
  .gtco-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  
  .gtco-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  
  .gtco-nav-toggle {
    position: fixed;
    right: 0px;
    top: 10px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
  }

 .suggestion {
    opacity: 0.2;
	display: none;
}
  @media screen and (max-width: 768px) {
    .gtco-nav-toggle {
      display: block;
    }
    #gtco-offcanvas {
      display: block;
    }
  }
  
  .btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
  }
  .btn.btn-md {
    padding: 8px 20px !important;
  }
  .btn.btn-lg {
    padding: 18px 36px !important;
  }
  .btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  
  .btn-primary {
    background: #52d3aa;
    color: #fff;
    border: 2px solid #52d3aa;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #66d8b4 !important;
    border-color: #66d8b4 !important;
  }
  .btn-primary.btn-outline {
    background: transparent;
    color: #52d3aa;
    border: 2px solid #52d3aa;
  }
  .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #52d3aa;
    color: #fff;
  }
  
  .btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
  }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
  }
  .btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
  }
  .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff;
  }
  
  .btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
  }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
  }
  .btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
  }
  .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
  }
  
  .btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
  }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
  }
  .btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
  }
  .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
    background: #f0ad4e;
    color: #fff;
  }
  
  .btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
  }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
  }
  .btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f;
  }
  .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
    background: #d9534f;
    color: #fff;
  }
  
  .btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    box-shadow: none;
  }
  
  .btn.with-arrow {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .btn.with-arrow:hover {
    padding-right: 50px;
  }
  .btn.with-arrow:hover i {
    color: #fff;
    right: 18px;
    visibility: visible;
    opacity: 1;
  }
  
  .form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
  }
  .form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #52d3aa;
  }
  
  .row-pb-md {
    padding-bottom: 4em !important;
  }
  
  .row-pb-sm {
    padding-bottom: 2em !important;
  }
  
  .gtco-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader1.gif) center no-repeat#fff;
  }
  
  .js .animate-box {
    opacity: 0;
  }
  

/*footer-icon*/



