#gtco-header {
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
  }

  .gtco-cover {
		/*background: fixed center;*/
		margin-top: 60px;
    height:640px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
	}

.gtco-cover .overlay{
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
	}

#title{
	margin-top: 40px;
	font-size: 60px;
}

#subtitle{
	font-size: 32px;
}

#description {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
  }

.card{
	margin-top: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,100,0.7);
} 

#card-caption {
    padding: 2px 16px;
}

.img-card{
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; 
}
#card-caption h4{
	font-size: 20px;
	color: #52d3aa;
	font-weight: bold;
}



@media screen and (max-width: 768px){
	.gtco-cover {
		margin-top: auto;
		width: 100%;
		height: 300px;
	}	
	#title{
		margin-top: 330px;
		font-size: 50px;
	}
	#subtitle{
		font-size: 24px;
	}
	#description{
		font-size: 18px;
	}
	.card{
		margin-top: 20px;
	}
	#card-caption h4{
		font-size: 18px;
	}
}

@media screen and (max-width: 400px){
	#card-caption h4{
		font-size: 16px;
	}
}
		
		
#gtco-footer{
	margin-top: 60px;
}

.table, th{
	text-align: center;
}





