#gtco-header {
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
  }

  .gtco-cover {
		margin-top: 60px;
    height:640px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
		/*background-attachment: fixed;*/
	}

.gtco-cover .overlay{
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
	}


.slideshow-block {
	background-size: cover;
}

#title-location{
	margin-top: 40px;
	font-size: 50px;
}

#subtitle{
	font-size:30px;
	color:black;
}

.img-location{
	border-radius: 10px;
	width: 100%;
}

#description h4{
	color: gray;
	font-size: 20px;
}

#description h5{
	color: gray;
	text-align: right;
	font-weight: bold;
}

.table-title h3{
	color: black;
	text-align: center;
}

.table{
	margin-bottom: 0px;
}

#table-row{
	padding-top: 40px;
}

.table td:hover{
    background-color:deepskyblue !important;
    transition-duration: .1s;
    color: black;
}

#map{
	margin-top: 40px;
	margin-left: 15px;
	margin-right: 15px;
	height: 400px;
}

.service-title h3{
	color: black;
	text-align: center;
}

.card{
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(25,50,255,0.7);
} 

#card-caption {
    padding: 2px 16px;
}

#card-caption h4{
	font-size: 20px;
	color: #52d3aa;
	font-weight: bold;
}

.img-card{
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.contacts-block{
	margin-top: 40px;
}

#contacts h4{
	font-size: 16px;
	color: gray;
}

@media screen and (max-width: 768px){
	.gtco-cover {
		margin-top: auto;
		width: 100%;
		height: 300px;
	}	
	#title-location{
		margin-top: 330px;
	}
	#description h4{
		text-align: center;
	}
	.img-location{
		margin-left: 0px;
	}
	#description{
		margin-top: 20px;
		text-align: center;
	}
	#table-row{
		padding: 20px;
	}
	.table-block {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
	.service-title{
		margin-top: 400px;;
	}
	.map-block {
		margin-top: 30px;
	}
	#card-caption h4{
		font-size: 16px;
	}
	.button {
		margin-left: 4%;
	}
}

.carousel-control.right{
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}
.carousel-control.left{
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}

.glyphicon-chevron-left{
	margin-left: 50 px; 
}

.button{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: gainsboro;
    color: black;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
    border: 1px solid transparent;
    
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(25,50,255,0.7);
}

#gtco-footer{
	margin-top: 60px;
}

.table, th{
	text-align: center;
}





