/*============================= NAVBAR=====================*/

#gtco-header,
  #gtco-counter,
  .gtco-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .gtco-bg {
    background-position: center center;
    width: 100%;
    float: left;
    position: relative;
  }
  
  .gtco-cover {
    margin-top: 60px;
    height: 500px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
  }

  .gtco-cover .overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  .gtco-cover > .gtco-container {
    position: relative;
    z-index: 10;
  }

  @media screen and (max-width: 768px) {
    .gtco-cover {
      margin-top: auto;
      height: 300px;
      width: 100%;
    }
  }

/*=================== SAME TAGS, DIFFERENT PAGES ===========*/

.img-responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

header{
    background-repeat: no-repeat;
}

/*back button*/

.button{
    /*text-transform: lowercase;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: gainsboro;
    color: black;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
    border: 1px solid transparent;
    
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*========================== DOCTOR ===================*/


#doctor{
    clear: both;        /*to separate the divs*/
}

.namedoc{
    text-align: center;
    color: black;
    padding: 20px 0 20px 0;
}

.description{
    margin-bottom: 10px;
}

.info{
    padding-top: 10px;
}

.info-table .doc-service{
    padding: 25px 0px 0px 0px;
}

.head-table{
    background-color: gainsboro;
}

th{
   color: black;
   text-align: center;
}

td{
    text-align: center;
}

td:hover{
    background-color: aquamarine;
    transition-duration: .4s;
    color: black;
}

.table-responsive{
    border: none;
}

.card-people{
    padding-bottom: 15px;
}

.supervisor-image {
    margin: 0 auto;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

 .supervisor-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-height: 50%;
    max-width: 70%;
}

/* On mouse-over, add a deeper shadow */
.supervisor-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 4px;
    text-align: center;
    line-height: normal;
}

.contacts{
    line-height: 0.5;
}

h3.cont{
    padding-bottom: 5px;
}


h3.where{
    text-align: center;
}

h3.about-me{
    text-align:center;
    padding-top: 10px;
}

h3.cont{
    margin-bottom: 5px;
}
/*============================= ALL-PEOPLE ===============*/

#all-people{
    clear: both;        /*to separate the divs*/
}

.all-people-intro{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

#buttons{
    text-align:  center;
    margin-bottom: 25px;
}

.btn{
    margin: 2px 4px;
    text-align: center;
    background-color: gainsboro;
    color: black;
    text-transform: uppercase;
}

.doctors-row{
    padding-bottom: 15px;
}

.card{
    margin-bottom: 0px;
    background-color: white;
}

.card-hib{
    background-color: #cceeff;
    transition: 0.5s;
}

.card-hib:hover{
    background-color: #00ccff;
    transition: 0.5s;
}

.name{
    text-align: center;
    color: white;
    background-color: gray;
    position: relative;
}


.vol-row{
    margin-top:20px;
    margin-bottom: 15px;
}

.card-cin{
    background-color: antiquewhite;
    transition: 0.5s;
}

.card-cin:hover{
    background-color: darksalmon;
    transition: 0.5s;
}

.show{
    margin-top: 10px;
    margin-bottom: 10px;
}

.not-show{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;

}

h1.all{
    text-align: center;
    padding: 20px 0px 20px 0px;
}

h3.all{
    text-align: left;
    padding-left: 15px;
    background-color: white;
    margin-bottom: 0px;
}

/*===================== VOLUNTEER ==================================*/

#volunteer{
    clear: both;        /*to separate the divs*/
}

.vol{
    margin-top: 50px;
    margin-bottom: 10px;
}

.letter{
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Times New Roman";
    font-size: 18px;
    font-style: italic;
}

.info-volunteer{
    margin-top: 10px;
}

h1.namevol{
    padding-top: 10px;
    text-align: center;
}