.gtco-cover {
    height: 600px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
  }

  #gtco-header, .gtco-cover{
    height: 600px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
    resize: none;
  }

  .gtco-cover > .gtco-container {
    position: relative;
    z-index: 10;
  }

  @media screen and (max-width: 768px) {
    .gtco-cover {
      height: 600px;
    }
  }

  #p-m-g{
    margin-top: 30px;
    margin-bottom: 40px;  
  }

  /* Part for the Service filter pages. Defines the figure in which you can click to get into the service page*/

  #recent-works .col-xs-12.col-sm-4.col-md-3{
    padding: 0;
  }
  
  .recent-work-wrap {
    position: relative;
    margin-bottom: 5%;
  }
  
  .recent-work-wrap .recent-work-inner{
    top: 0;
    background: transparent;
    opacity: .8;
    width: 100%;
    border-radius: 0;
  }

  @media screen and (min-width: 767px) {
    .recent-work-wrap .recent-work-inner h3{
      margin: 5px 0;
      font-size: 1.8vw;
      color: #fff;
    }
  
    .recent-work-wrap .recent-work-inner p{
      font-size: 1.3vw;
      color: #fff;
    }
  
    .recent-work-wrap .recent-work-inner a{
      font-size: 1.3vw;
      color: rgb(64, 221, 156);
    }  
  }
  
  @media screen and (max-width: 767px) {
    .recent-work-wrap .recent-work-inner h3{
      margin: 10px 0;
      font-size: 35px;
      color: #fff;
    }
    
    .recent-work-wrap .recent-work-inner a{
      font-size: 20px;
      color: rgb(64, 221, 156);
    }  

    .recent-work-wrap .recent-work-inner p{
      font-size: 20px;
      color: #fff;
    }  
  }

  .recent-work-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: #333;
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;  
    padding: 30px;
  }
  
  .recent-work-wrap .overlay .preview {
    bottom: 0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    background: transparent;
    text-align: center;
    color: #fff;
  }
  
  .recent-work-wrap:hover .overlay {
    opacity: 0.85;
  }
  
  .js .animate-box {
    opacity: 0;
  }

  /*Custom text display*/

  #text-block-grey {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    word-wrap: break-word;
  }
  
  #description-grey {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #828282;
    word-wrap: break-word;
  }
  
  #text-block-black{
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000;  
    word-wrap: break-word;
  }

  /*Card Elements*/
  .supervisor-image {
    margin: 0 auto;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



 .supervisor-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-height: 50%;
    max-width: 70%;
}

/* On mouse-over, add a deeper shadow */
.supervisor-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


 .location-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.location-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.location-image {
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5%;
}



/* Add some padding inside the card container */
.card-container {
    padding: 2px 4px;
    text-align: center;
    line-height: normal;
}




/*Margin section for the introductory description of the page*/
.introduction {
    margin: 10px;
    padding: 10px;
}

.introduction-text {
	margin-top: 30%;
}






/* carousel */

#gtco-testimonial {
  background: #efefef;
  margin-bottom: 5%;
  margin-top: 2%;
  clear: both;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media screen and (max-width: 768px) {
  #gtco-testimonial,
  #gtco-footer {
    padding: 3em 0;
  }
}

#gtco-testimonial .testimony-slide {
  text-align: center;
}
#gtco-testimonial .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}
#gtco-testimonial .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#gtco-testimonial .testimony-slide figure img {
  width: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#gtco-testimonial .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 50%;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 992px) {
  #gtco-testimonial .testimony-slide blockquote {
    width: 100%;
    word-wrap: break-word;
  }
}
#gtco-testimonial .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#gtco-testimonial .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#gtco-testimonial .arrow-thumb a:hover, #gtco-testimonial .arrow-thumb a:focus, #gtco-testimonial .arrow-thumb a:active {
  text-decoration: none;
}
.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #52d3aa;
}

/* image carousel */
.carousel-control.right{
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}
.carousel-control.left{
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}

/*text*/
#title{
	margin-top: 40px;
	font-size: 60px;
}

#subtitle{
	font-size: 46px;
    line-height: 1.7;
}

#description {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
    margin-bottom: 5%;
  }

#description-center {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
  }

/*back button*/

.button{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: gainsboro;
    color: black;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
    border: 1px solid transparent;
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/*Services work inner*/

.recent-work-inner .more {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.show{
  margin-top: 10px;
  margin-bottom: 10px;
}

.not-show{
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}