@font-face {
    font-family: 'icomoon';
    src: url("../../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  /* =======================================================
  *
  * 	Template Style 
  *
  * ======================================================= */
  body {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
  }
  
  #page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .offcanvas #page {
    overflow: hidden;
    position: absolute;
  }
  .offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }
  
  a {
    color: #52d3aa;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:active, a:focus {
    color: #52d3aa;
    outline: none;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
  
  ::-webkit-selection {
    color: #fff;
    background: #52d3aa;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #52d3aa;
  }
  
  ::selection {
    color: #fff;
    background: #52d3aa;
  }
  
  .gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .gtco-nav {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 1001;
  }

/*********************************************
****			 NAVBAR INVERTED ON SCROLL      ****
**********************************************/
.transparent {
	background-color:rgba(0,0,0,0.6);
	transition: 0.5s;
}
.text-white{
	color: white !important;
	transition: 0.5;
}
.invert-box {
  -webkit-box-shadow: 0px 14px 33px -9px rgba(255, 255, 255, 0.75) !important;
  -moz-box-shadow: 0px 14px 33px -9px rgba(255, 255, 255, 0.75) !important;
  box-shadow: 0px 14px 33px -9px rgba(255, 255, 255, 0.75)!important;
  background: rgba(0,0,0,0.8) !important;
	}
.primary-effect:hover {
    color: rgba(144,144,144) !important;
		border-bottom-color: rgba(255,255,255,0.6) !important;
  }
.secondary-effect:hover .nav-label, .secundary-effect:focus .nav-label {
		color: rgba(144,144,144) !important;
  }
.white-pointer:before{
	border-bottom-color: rgba(255,255,255,0.6) !important;
}
/************************************************/

  @media screen and (max-width: 768px) {
    .gtco-nav {
      background-color: rgba(0, 0, 0, 0.3);
			padding: 15px 0;
    }
		i{
			color: white;
		}
	}
  .gtco-nav #gtco-logo, .gtco-nav .aboutus-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  .gtco-nav a {
    padding: 5px 10px;
    color: black;
  }
  @media screen and (max-width: 768px) {
    .gtco-nav .menu-1, .gtco-nav .menu-2, .gtco-nav .aboutus{
      display: none;
    }
  }
  .gtco-nav ul {
    padding: 0;
    margin: 2px 0 0 0;
  }
  .gtco-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
  }
  .gtco-nav ul li a {
    font-size: 14px;
    padding: 30px 10px;
    text-transform: uppercase;
    color: rgb(14, 0, 0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .gtco-nav ul li a:hover, .gtco-nav ul li a:focus, .gtco-nav ul li a:active {
    color: rgba(144,144,144);
  }
  .gtco-nav ul li.has-dropdown {
    position: relative;
  }
  .gtco-nav ul li.has-dropdown .dropdown {
    width: 130px;
    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
  .gtco-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: rgba(0,0,0,0.6);
    border-width: 8px;
    margin-left: -8px;
  }
  .gtco-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px;
  }
  .gtco-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
  }
  .gtco-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: black;
    line-height: 1.2;
    text-transform: none;
    font-size: 15px;
  }
  .gtco-nav ul li.has-dropdown .dropdown li a:hover {
    color: rgba(144,144,144);
  }
  .gtco-nav ul li.has-dropdown:hover a, .gtco-nav ul li.has-dropdown:focus a {
    color: rgba(144,144,144);
  }
  .gtco-nav ul li.active > a {
    color:black;
  }
 
/* class for the suggestion in the navbar */
 .suggestion {
    opacity: 0.2;
	display: none;
}

/* Body della pagina dopo la navbar */

  
  .gtco-cover {
		background-image:url("../../img/homepage/homepagebackground.jpg");
    height: 800px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
		background-attachment: fixed;
  }
  .gtco-cover .overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  .gtco-cover > .gtco-container {
    position: relative;
    z-index: 10;
  }
  @media screen and (max-width: 768px) {
    .gtco-cover {
      height: 500px;
			background-attachment: scroll;
			background-position: center;
    }
  }
@media screen and (max-width:400px){
	.gtco-cover{
		background-attachment: scroll;
		height: 350px;
	}
}

  .gtco-cover .display-t,
  .gtco-cover .display-tc {
    height: 800px;
    display: table;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .gtco-cover .display-t,
    .gtco-cover .display-tc {
      height: 500px;
		}
  }
  @media screen and (max-width: 400px) {
    .gtco-cover .display-t,
    .gtco-cover .display-tc {
      height: 350px;
		}
  }
    
  #gtco-header .display-tc,
  .gtco-cover .display-tc {
    display: table-cell !important;
    vertical-align: middle;
  }
  #gtco-header .display-tc h1, #gtco-header .display-tc h2,
  .gtco-cover .display-tc h1,
  .gtco-cover .display-tc h2 {
    margin: 0;
    padding: 0;
    color: black;
    text-shadow:  -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-transform: uppercase;
  }
  #gtco-header .display-tc h1,
  .gtco-cover .display-tc h1 {
    font-size: 90px;
    line-height: 1.5;
  }
	#gtco-header .display-tc h2,
  .gtco-cover .display-tc h2 {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
   
	@media screen and (max-width: 768px) {
    #gtco-header .display-tc h1,
    .gtco-cover .display-tc h1 {
      font-size: 60px;
    }
		#gtco-header .display-tc h2,
		.gtco-cover .display-tc h2{
			font-size: 32px !important;
		}
 	}
	@media screen and (max-width: 400px){
		#gtco-header .display-tc h1,
  	.gtco-cover .display-tc h1 {
      font-size: 40px !important;
		}
		#gtco-header .display-tc h2,
		.gtco-cover .display-tc h2{
			font-size: 22px !important;
			}
	}
  

/**********************************************************/
/**********************************************************/

#gtco-services{
	padding: 0;
	clear:both;
}

@media screen and (max-width: 768px) {
 		#gtco-services{
    }
  }

 .gtco-tabs .gtco-tab-nav {
    clear: both;
    padding: 3px;
    float: left;
    width: 100%;
    background: #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }
  .gtco-tabs .gtco-tab-nav li {
    float: left;
    width: 25%;
    text-align: center;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .gtco-tabs .gtco-tab-nav li .icon {
    font-size: 30px;
  }
  .gtco-tabs .gtco-tab-nav li a {
    padding: 20px;
    width: 100%;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #b3b3b3;
  }
  .gtco-tabs .gtco-tab-nav li a:hover {
    color: #4d4d4d;
  }
  .gtco-tabs .gtco-tab-nav li.active .a1 {
    background-color: lightgreen;
    color: darkgreen;
  }
	.gtco-tabs .gtco-tab-nav li.active .a2 {
    background-color: lightgoldenrodyellow;
    color: rgba(255, 150, 0, 1);
  	}
	.gtco-tabs .gtco-tab-nav li.active .a3 {
    background-color: lightcoral;
    color: crimson;
  	}
	.gtco-tabs .gtco-tab-nav li.active .a4 {
    background-color: lightblue;
    color: dodgerblue;
  	}
		.icon-man, .icon-star, .icon-map, .icon-flag2{
			color: #b3b3b3;
		} 
	li.active .icon-man{
		color:darkgreen;
	}
	li.active .icon-star{
		color: rgba(255, 150, 0, 1);
	}
	li.active .icon-map{
		color: crimson;
	}
	li.active .icon-flag2{
		color: dodgerblue;
	}

.gtco-tabs .gtco-tab-content-wrap {
    clear: both;
    position: relative;
    top: 70px;
  }
  .gtco-tabs .gtco-tab-content-wrap .tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }
  .gtco-tabs .gtco-tab-content-wrap .tab-content.active {
    opacity: 1;
    visibility: visible;
  }
  .tab-img {
    width: 100%;
		background-size: cover;
  }
	
  @media screen and (max-width: 768px) {
    .gtco-tabs .tab-img {
      margin-top: 0;
		}
	}
  
	
/*** TABS ***/

@media screen and (max-width:768px){
	.gtco-tabs {
		height: 1100px;
	}
}
#whoWeAre .tab-img{
	width: 100%;
}
#whoWeAre .description{
	font-size: 20px;
}
#whoWeAre h2{
	margin-top: -20px;
	margin-bottom: 40px;
	font-style: oblique;
}
#whatWeOffer .gtco-container{
	margin-top: -20px;
}
#whatWeOffer .quote{
	font-style: oblique;
		
}
#whatWeOffer .description {
	font-size: 20px;
}
#whatWeOffer .tab-img{
	height: 138px;
	width: 100%;
	vertical-align: middle; 
}
#whatWeOffer .second-line-img{
	margin-top: 30px;
}
#whereWeWork{
	margin-top: -20px;
}
#whereWeWork h2 a{
	font-style: oblique;
}
#whereWeWork .description{
	font-size: 20px;
}
.slideshow-block {
	background-size: cover;
}
.img-location{
	border-radius: 10px;
	width: 100%;
}
.carousel-control.right{
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}
.carousel-control.left{
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}
.glyphicon-chevron-left{
	margin-left: 50 px; 
}
#whyWeDoIt .description{
	margin-top: -40px;
	font-size: 20px;
}
#whyWeDoIt img{
	margin-top: -70px;
	width: 100%;
	max-height: 300px;
}
#whyWeDoIt .quote {
	font-style: oblique;
	font-size: 20px;
}
#whyWeDoIt .quote h3{
	display: none;
	color: lightslategrey;
}
#whyWeDoIt .quote .author{
	margin-top: 10px;
	font-style: normal;
	font-size: 20px;
	}

@media screen and (max-width: 768px){
	.gtco-tabs {
		height: 1100px;
	}
	#whoWeAre .tab-img{
		margin-top: 0px;
	}
	#whoWeAre .description{
		margin-top: 30px;
		margin-bottom: 0;
		text-align: center;
	}
	#whatWeOffer .description {
	text-align: center;
	}
	#whatWeOffer .tab-img{
	margin-top: 20px;
	}
	#whatWeOffer .second-line-img{
		margin-top: 100px;
	}
	#whereWeWork .description {
		margin-top: 10px;
		text-align: center;
	}
	#whyWeDoIt img{
	margin-top: -50px;
	}
	#whyWeDoIt .quote{
		margin-top: 30px;
	}
	#whyWeDoIt .quote h3{
		display: contents;
		margin-left: 15px;
		margin-right: 15px;
		font-size: 20px;
		line-height: 30px;
	}
}
@media screen and (max-width: 400px){
	#whatWeOffer .second-line-img{
		margin-top: 0px;
	}
	#whereWeWork .description{
		margin-top: 40px;
	}
	#whyWeDoIt .quote{
		margin-top: 10px;
	}
}


/************************************************************/
/************************************************************/

#gtco-cover2{
	height: 600px;
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@media screen and (max-width:768px){
	#gtco-cover2{
		background-attachment: scroll;
		height: 400px;
		background-position: center;
	}
}
@media screen and (max-width:400px){
	#gtco-cover2{
		background-attachment: scroll;
		height: 300px;
		background-position: center;
	}
}

/************************************************************/
/************************************************************/

  #gtco-started {
		padding: 8em 0;
		clear: both;
		background: #4cc1bd;
    background: -moz-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #4cc1bd), color-stop(100%, #3f95ea));
    background: -webkit-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
    background: -o-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
    background: -ms-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
    background: linear-gradient(135deg, #4cc1bd 0%, #3f95ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cc1bd', endColorstr='#3f95ea', GradientType=1 );
  }
@media screen and (max-width: 768px) {
	#gtco-started{
		padding: 7em 0;
	}
    #gtco-footer {
      padding: 3em 0;
    }
  }

#gtco-started .gtco-heading h1 {
    margin-top: 60px; 
		font-size: 50px;
		font-weight: bold;
		color: #fff;
  }
#gtco-started .gtco-heading h2 {
    font-weight: bold;
		color: #fff;
  }
#gtco-started .gtco-heading h3 {
    margin-top: -50px;
		font-weight: bold;
		color: #fff;
  }
#childreamsModalLongTitle h3{
	font-weight: bold;
	}
  
  #gtco-started .btn {
    margin-top: 20px;
		height: 54px;
    border: none !important;
    background: #52d3aa;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
  }
  gtco-started .gtco-heading {
    margin-bottom: 30px;
  }
  #gtco-started .gtco-heading h2 {
    margin-bottom: 0;
  }

/************************************************************/
/************************************************************/

#gtco-cover3{
	height: 500px;
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

@media screen and (max-width:768px){
	#gtco-cover3{
		background-attachment: scroll;
		height: 400px;
		background-position: center;
	}
}
@media screen and (max-width:400px){
	#gtco-cover3{
		background-attachment: scroll;
		height: 300px;
		background-position: center;
	}
}


/*********************************************/
/****************   FOOTER   *****************/
/*********************************************/
	
	#gtco-footer{
		padding: 2em 0 ;
		clear: both;
	 	background: #dadada;
	}		
	#gtco-footer .logo{
		margin-top: 10px;
	}
	#gtco-footer h4{
		margin-top: 20px;
	}
	
	#gtco-footer .social-icons2{
		display: none;
	}
	#gtco-footer .gtco-social-icons{
		margin-top: 30px;
		padding: 0;
	}
	.gtco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1.3;
  display: inline;
	}
	.gtco-social-icons li a {
		display: -moz-inline-stack;
		display: inline-block;
  	display: inline;
		padding-left: 10px;
  	padding-right: 10px;
	}
	.gtco-social-icons li a i {
  	font-size: 20px;
	}

	@media screen and (max-width:768px){
		#gtco-footer .logo {
			 margin-top: 10px;
		}
		#gtco-footer .social-icons1{
			display: none;
		}
		#gtco-footer .social-icons2{
			display: contents;
		}
	
	}	

	#gtco-footer #aboutus{
		white-space: nowrap;
	}
  #gtco-footer .gtco-footer-links {
    padding: 0;
    margin: 0;
  }
  #gtco-footer .gtco-footer-links li {
    list-style: none;
		line-height: 25px;
  }
  #gtco-footer .gtco-footer-links li a {
    color: black;
    text-decoration: none;
  }
  #gtco-footer .gtco-footer-links li a:hover {
    text-decoration: underline;
		color: #52d3aa;
		transition: 0.3;
  }
	@media screen and (max-width:768px){
		#gtco-footer .aboutus-menu{
			display: inline;
						
		}
	}

  #gtco-footer .copyright {
		padding-top: 30px;
		display: block;
  }

 
/*********************************************/
/**********   NAVBAR SMARTPHONE   ************ 
/*********************************************/


  #gtco-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: black;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 45px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .offcanvas #gtco-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  #gtco-offcanvas a {
    color: rgba(255, 255, 255, 0.5);
  }
  #gtco-offcanvas a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #gtco-offcanvas ul {
    padding: 0;
    margin: 0;
  }
  #gtco-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  #gtco-offcanvas ul li > ul {
    padding-left: 20px;
    display: none;
  }
  #gtco-offcanvas ul li.offcanvas-has-dropdown > a {
    display: block;
    position: relative;
  }
  #gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
    position: absolute;
    right: 0px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e921";
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  
  .uppercase {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }
    
  .gtco-nav-toggle {
    width: 25px;
    height: 25px;
		cursor: pointer;
    text-decoration: none;
  }
  .gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after {
    background: #444;
  }
  .gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
  }
  .gtco-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    transition: all .2s ease-out;
  }
  .gtco-nav-toggle i::before, .gtco-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
  }
  .gtco-nav-toggle.gtco-nav-white > i {
    color: #fff;
    background: #fff;
  }
  .gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after {
    background: #fff;
  }
  
  .gtco-nav-toggle i::before {
    top: -7px;
  }
  
  .gtco-nav-toggle i::after {
    bottom: -7px;
  }
  
  .gtco-nav-toggle:hover i::before {
    top: -10px;
  }
  
  .gtco-nav-toggle:hover i::after {
    bottom: -10px;
  }
  
  .gtco-nav-toggle.active i {
    background: transparent;
  }
  
  .gtco-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  
  .gtco-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  
  .gtco-nav-toggle {
    position: fixed;
    right: 0px;
    top: 10px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
  }
  @media screen and (max-width: 768px) {
    .gtco-nav-toggle {
      display: block;
    }
    #gtco-offcanvas {
      display: block;
    }
  }
  
/***************************************************/
/***************************************************/

  .row-pb-md {
    padding-bottom: 0;
  }
  
  .row-pb-sm {
    padding-bottom: 2em !important;
  }
  
  .gtco-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../../img/loader1.gif") center no-repeat#fff;
  }
  
  .js .animate-box {
    opacity: 0;
  }
  

